/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
body{
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hero{
    padding:40px;
    background-color: rgb(148, 201, 63);
    color:rgb(103, 174, 50);
}

.footer a{

    text-decoration: none;
}
.link-container {
    display: flex; 
    gap: 20px;
    justify-content: center; 
  }
  
  .link-container a {
    text-decoration: none; 
    color: #333; 
    font-size: 16px; 
    padding: 5px 10px;
    transition: color 0.3s ease;
  }
  
 .link-container a:hover{
    color: hsla(28, 88%, 42%, 0.027);
 }
 .footer p{
    color: #797575;
 }
 .hero .text-container{
   text-align: center;
 }
 
 .stat .img-container img{
    background-color: #797575;
    width:300px;
    height:400px;
    margin-right: 10px;
 }
 